{%extends "base.html" %}

{%block content %}

<div class="d-flex flex-column align-items-center">

<h1>{{ingredientes.ingrediente}}</h1>

<ul>

    <li>
        Kcal: {{ingredientes.kcal.normalize}}
    </li>
    <li>
        Proteínas: {{ingredientes.proteinas.normalize}}
    </li>
    <li>
        Hidratos de carbono: {{ingredientes.hidratos.normalize}}
    </li>
    <li>
        Gorduras: {{ingredientes.gorduras.normalize}}
    </li>
    <li>
        Unidade: {{ingredientes.unidade}}
    </li>
        
</ul>

</div>

{% endblock %}